<div class="back">
    <div class="container-fluid">
        <div class="row">
           <span class="shadow visible-lg visible-md">developer console</span>
            <div class="col-md-8 col-sm-8 loginGraphic visible-lg visible-md">
                <img src="assets/images/device.png" class="img-responsive device">
                <div class="firstHalf"><!--/GEAR IMAGE/-->                    
                    <div class="shadow-heading visible-lg visible-md">
                        <span class="text">developer console</span>                       
                    </div>                      
                </div>
                <div class="secondHalf"><!--/BOTTOM RIGHT GRAPH/--></div>                
            </div>
            <div class="col-md-4 col-sm-4 loginWrap">                
                <div class="loginForm">
                   <div class="logo"><img src="assets/images/BitVault-developer-console-icon.png" class="img-responsive"></div>
                    <div class="formContent" style="border: 1px solid #a89467;border-radius: 10px;">
                        <div class="pd20 goldText" *ngIf="msg">{{msg}}</div>
                    </div> 
                    <a routerLink="/login" class="signupButton">Back</a> 
                </div>
            </div>
        </div>
    </div>
</div>
   