<div class="container-fluid">
        <div class="row">
            <span class="shadow visible-lg visible-md">Developer console</span>
            <div class="col-md-8 col-sm-8 loginGraphic visible-lg visible-md">
                <img src="assets/images/device.png" class="img-responsive device">
                <div class="firstHalf"><!--/GEAR IMAGE/-->                    
                    <div class="shadow-heading visible-lg visible-md">
                        <span class="text">Developer console</span>                       
                    </div>                    
                </div>
                <div class="secondHalf"><!--/BOTTOM RIGHT GRAPH/--></div>                
            </div>
            <div class="col-md-4 col-sm-4 loginWrap">             
                <div class="loginForm">
                <form [formGroup]="complexForm" (ngSubmit)="developerResetPassword()" #resetPasswordForm="ngForm" novalidate>
                   <div class="logo"><img src="assets/images/BitVault-developer-console-icon.png" class="img-responsive"></div>
                    <div class="formContent">
                        <div class="title">Reset Password</div>
                        <div class="pd20">

                        <div class="form-group" [ngClass]="{'has-error':!complexForm.controls['newPassword'].valid && complexForm.controls['newPassword'].touched}">
                            <input type="password" placeholder="New Password" [(ngModel)]="user.newPassword" name="newPassword" [formControl]="complexForm.controls['newPassword']">
                            <div *ngIf="complexForm.controls['newPassword'].hasError('required') && complexForm.controls['newPassword'].touched" class="alert alert-danger">{{constants.PASSWORD_REQUIRED}}</div>
                            <div *ngIf="complexForm.controls['newPassword'].hasError('minlength') && complexForm.controls['newPassword'].touched" class="alert alert-danger">{{constants.PASSWORD_MIN_LENGTH}}</div>
                            <div *ngIf="complexForm.controls['newPassword'].hasError('maxlength') && complexForm.controls['newPassword'].touched" class="alert alert-danger">{{constants.PASSWORD_MAX_LENGTH}}</div>
                        </div>
                        <div class="hr"></div> 

                        <div class="form-group" [ngClass]="{'has-error':!complexForm.controls['confirmPassword'].valid && complexForm.controls['confirmPassword'].touched}">
                            <input type="password" placeholder="Confirm password" [(ngModel)]="user.confirmPassword" name="confirmPassword" [formControl]="complexForm.controls['confirmPassword']" validateEqual="password">
                            <div *ngIf="complexForm.controls.confirmPassword.touched && complexForm.hasError('mismatchedPasswords')" class="alert alert-danger">{{constants.PASSWORD_MISMATCH}}</div>
                            <div *ngIf="complexForm.controls['confirmPassword'].hasError('required') && complexForm.controls['confirmPassword'].touched" class="alert alert-danger">{{constants.CNF_PASS_REQUIRED}}</div>
                        </div>
                        <div class="loginBtnBack">
                            <input type="submit" value="submit" [disabled]="!complexForm.valid">
                        </div>                            
                    </div>
                </div>                      
            </form>                     
        </div>                
    </div>
</div>
</div>