<div class="nav-md">
  <div class="container body">
    <div class="main_container">
      <!-- sidebar menu -->
    <app-menudashboard></app-menudashboard>
    <!-- menu sidebarclosed -->
    <!-- top navigation -->
    <app-header></app-header>
  <!-- /top navigation -->
  <div class="right_col" role="main">
    <div class="mainwrap">
      <div class="allapp">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Transactions History</h2>              
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <div class="table-responsive pagination-data">
                <table class="table table-bordered table-striped projects">
                  <thead>
                    <tr>
                      <th>Transaction ID</th>
                      <th>Transaction Mode</th>
                      <th>Amount</th>
                      <th>Payment For</th>
                      <th>Status</th>
                      <th>Date</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="" *ngFor="let data of dataList.result | paginate : { itemsPerPage:10, currentPage:page, id : 1, totalItems:dataList.totalRecords }">
                      <td>{{data.txnId | titlecase}}</td>
                      <td>{{data.paymentMode | titlecase}}</td>
                      <td>{{data.payment}}</td>
                      <td>{{data.paymentFor}}</td>
                      <td class="project_progress">
                        <span class="btn-success btn-xs capitalize">{{data.txnStatus}}</span>
                      </td>
                      <td>{{data.updatedAt | date: 'mediumDate'}}</td>
                      <td><a *ngIf="data.txnStatus=='PENDING'" (click)="paymentDetails(data.userId, data.payment);apkModal.open();" id="paymentOptions" class="btn btn-fill btn-info"><span class="glyphicon glyphicon-edit"></span> Pay {{data.payment}} $</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="paginattion" *ngIf="show==true">
                  <pagination-controls
                    (pageChange) = "page = getDataList($event)"
                    id="1"
                    maxSize = "7"
                    directionLinks = "true"
                    autohide = "true">
                  </pagination-controls>
                </div>
                <p class="no-result-found" *ngIf="show==false">{{constants.NO_RECORD_FOUND}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" id="apkModal">
    <modal #apkModal [closeOnEscape]="true" [closeOnOutsideClick]="false">
      <modal-header>
       <h4 class="modal-title">Payment</h4>
      </modal-header>
      <modal-content>
          <div class="payment-block">
            <div class="formContent">
                <div class="pd20">
                  <p>Please select payment mode to pay</p>
                    <form ngNoForm name="paypal-payment" action="{{formAction}}" method="POST">
                        <div class="methods-block">            
                            <div class="wc_payment_method">                
                                <label for="payment_method_paypal">
                                <input type="radio" id="paypal" name="payment_method" (change)="payment=1" value="{{payment}}" checked="checked">
                                PayPal <img src="assets/images/paypal.png" alt="" ><a target="_blank" href="https://www.paypal.com/gb/webapps/mpp/paypal-popup" class="about_paypal">What is PayPal?</a> </label>
                            </div>
                            <div class="wc_payment_method cst-mar">                        
                                <label for="payment_method_gourlpayments">
                                <input type="radio" id="gourl" name="payment_method" value="{{payment}}" (change)="payment=2">
                                Bitcoin <img src="assets/images/payments.png" alt=""> </label>
                                <input type="hidden" name="amount" value="{{amount}}">
                                <input type="hidden" name="token" value="{{token}}">
                                <input type="hidden" name="user" value="{{userId}}">
                            </div>
                        </div>                       
                        <input  *ngIf="payment==2" type="submit" class="signupButton" value="Proceed to pay({{amount}}$)">
                        <input *ngIf="payment==1" type="button" class="signupButton" value="Proceed to pay({{amount}}$)" (click)="submitPayment();apkModal.close();">
                     </form>
                </div>        
            </div>
        </div>
        </modal-content>    
      </modal>
  </div>
</div>
</div>
</div>