<div class="col-md-3 left_col" id="toggle_menu">
  <div class="left_col scroll-view">
    <div class="clearfix"></div>
    <div class="profile clearfix">
      <div class="profile_pic">
        <img *ngIf="avatar && profileImage" src="{{profileImage}}" class="img-circle profile_img">
        <img *ngIf="avatar && !profileImage" src="{{avatar}}" class="img-circle profile_img">
      </div>
      <div class="profile_info">
        <span>Welcome,</span>
        <h2 *ngIf="avatarName && profileName">{{profileName}}</h2>
        <h2 *ngIf="avatarName && !profileName">{{avatarName}}</h2>
      </div>
    </div>
    <br />
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
      <div class="menu_section">
        <ul class="nav side-menu">
        <li><a [routerLinkActive]="['active']" class="custom-brd-tpbt" routerLink="/admindashboard"> <i class="fa fa-arrow-left" aria-hidden="true"></i> Back</a></li>
          <li><a [routerLinkActive]="['active']" routerLink="/admin-apps-list/adminappdashboard">Application Dashboard</a></li>
          <li><a [routerLinkActive]="['active']" routerLink="/admin-apps-list/apps-list-action">Application Details</a></li>
          <li><a [routerLinkActive]="['active']" routerLink="/admin-apps-list/statistics">Statistics</a></li>
          <li><a [routerLinkActive]="['active']" routerLink="/admin-apps-list/review-ratings">Ratings & Review</a></li>
          <li><a [routerLinkActive]="['active']" routerLink="/admin-apps-list/release-management">Release Management</a></li>
          <!-- <li><a [routerLinkActive]="['active']" routerLink="/admin-apps-list/apps-audit-trail">Audit Trail</a></li> -->
        </ul>
      </div>
    </div>
  </div>
</div>
