<div class="col-md-2 col-sm-2 col-xs-2">                          
    <ul class="nav nav-tabs tabs-left">
       <li class=""><a [routerLink]="['/upload-app']" [queryParams]="{ id: id }" routerLinkActive="active">APK</a></li>
       <li class=""><a [routerLink]="['/appdetail']" [queryParams]="{ id: id }" routerLinkActive="active">Store Listing</a></li>
       <li class=""><a [routerLink]="['/price-distribution']" [queryParams]="{ id: id }" routerLinkActive="active">Pricing & Distribution</a></li>
       <li class=""><a [routerLink]="['/appdetail']" [queryParams]="{ id: id }" routerLinkActive="active">In-app Products</a></li>
    </ul>                          
</div>