<div class="nav-md">
 <div class="container body">
    <div class="main_container">      

      <!-- menu sidebar -->
      <app-menudashboard></app-menudashboard>
       <!-- menu sidebarclosed -->        

      <!-- top navigation -->
      <app-header></app-header>
      <!-- /top navigation -->

      <!-- Apps list content-->  
      <app-apps></app-apps>
      <!-- /Apps list content-->  

      <!-- footer content -->
      <app-footer></app-footer>
      <!-- /footer content -->
    </div>
  </div>
</div>