 <div class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="clearfix"></div>

            <!-- sidebar menu -->
            <app-adminmenudashboard></app-adminmenudashboard>
            <!-- /sidebar menu -->
          </div>
        </div>

        <!-- top navigation -->
       <app-adminheader></app-adminheader>
        <!-- /top navigation -->

 <div class="right_col" role="main">
          <div class="mainwrap">
            <div class="allapp">             
              <div class="col-md-12 col-sm-12 col-xs-12">
               
               


               </div>
</div>
</div>
</div>
</div>
</div>
</div>