<div class="nav-md">
  <div class="container body">
    <div class="main_container">
      <!-- sidebar menu -->
    <app-adminmenudashboard></app-adminmenudashboard>
    <!-- /sidebar menu -->
    <!-- top navigation -->
  <app-adminheader></app-adminheader>
  <!-- /top navigation -->
  <div class="right_col" role="main">
    <div class="mainwrap">
      <div class="allapp">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Manage Users</h2>
              <input type="text" class="searchBox" name="search" [(ngModel)]="searchString" (ngModelChange)="adminUserListing(1)" placeholder="Type at least 2 characters">
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <!-- start project list -->
              <div class="table-responsive pagination-data">
                <table class="table table-bordered table-striped projects">
                  <thead>
                    <tr>
                      <th>User Name</th>
                      <th>Email ID</th>
                      <th>Account Type</th>
                      <th>Status</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor='let user of adminUsers'>
                      <td>
                        <span class="appicon" *ngIf="!user.avatarURL">
                          <img src="/assets/images/user.png" alt="..." class="img-circle profile_img">
                        </span>
                        <span class="appicon" *ngIf="user.avatarURL">
                          <img src="{{user.avatarURL}}" alt="..." class="img-circle profile_img">
                        </span> {{user.username}}
                      </td>
                      <td>
                        {{user.email}}
                      </td>
                      <td>
                        <span>{{user.signupAs}}</span>
                      </td>
                      <td class="project_progress">
                        <span class="btn-success btn-xs capitalize">{{user.status | lowercase}}</span>
                      </td>
                      <td>
                        <a routerLink="/admin-users-list/admin-user-action/{{user.userId}}"  class="btn btn-fill btn-info " title="action">
                          <span class="fa fa-eye"></span>
                        </a>
                        <a routerLink="/admin-users-list/transaction-summary/{{user.userId}}"  class="btn btn-fill btn-info " title="transaction summary">
                          <i class="fa fa-usd" aria-hidden="true"></i>
                        </a>
                        <a routerLink="/admin-users-list/user-requests/{{user.userId}}"  class="btn btn-fill btn-info " title="view requests">
                          <i class="fa fa-info-circle" aria-hidden="true"></i>
                        </a>
                        <a routerLink="/admin-users-list/user-audit-trail/{{user.userId}}"  class="btn btn-fill btn-info " title="user history">
                          <i class="fa fa-history" aria-hidden="true"></i>
                        </a>

                        
                      </td>
                    </tr>
                  </tbody>
                </table>
                <p class="no-result-found" *ngIf="show==false">{{constants.NO_RECORD_FOUND}}</p>
                <ul *ngIf="pager.pages && pager.pages.length && show==true" class="pagination">
                <li *ngIf="pager.currentPage != 1" [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="adminUserListing(1)">First</a>
                </li>
                <li *ngIf="pager.currentPage === 1" [ngClass]="{disabled:pager.currentPage === 1}">
                    <a>First</a>
                </li>
                <li *ngIf="pager.currentPage != 1" [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="adminUserListing(pager.currentPage - 1)">Previous</a>
                </li>
                <li *ngIf="pager.currentPage === 1" [ngClass]="{disabled:pager.currentPage === 1}">
                    <a>Previous</a>
                </li>
                <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                    <a (click)="adminUserListing(page)">{{page}}</a>
                </li>
                <li *ngIf="pager.currentPage != pager.totalPages" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="adminUserListing(pager.currentPage + 1)">Next</a>
                </li>
                <li *ngIf="pager.currentPage === pager.totalPages" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a>Next</a>
                </li>
                <li *ngIf="pager.currentPage != pager.totalPages" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="adminUserListing(pager.totalPages)">Last</a>
                </li>
                <li *ngIf="pager.currentPage === pager.totalPages" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a>Last</a>
                </li>
            </ul>
                <!-- end project list -->            
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>